@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/_typeplate.scss";

p+p {
    text-indent: 0;
    margin-top: 0;
}

p {
    max-width: 100ch;
    margin-left: 0;
    margin-right: auto;
}

ul, ol {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.4s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    text-align: justify;
    font-size: 0;
    position: relative;

    > * {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    &:after {
        display: table;
        width: 100%;
    }
}

@mixin grid_r($col, $width, $padding: 0) {
    @media screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{100/$col}%;
                padding: #{$padding}px;
            }
        }
    }
}

@mixin grid($col, $padding: 0) {
    .grid-#{$col} {
        & > * {
            width: #{100/$col}%;
            padding: #{$padding}px;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(8);
@include grid_r(2,400);
@include grid_r(2,800);
@include grid_r(4,400);
@include grid_r(4,800);
@include grid_r(8,800);
@include grid_r(8,1024);
@include grid_r(8,1280);

/**
 * GENERAL
 */

body {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

/**
 * App code
 */

$primaryColor: #7f8c8d;
$font: 'Roboto';

// Search View

*:focus {
    outline: none;
}

.container {
    height: 100vh;

    // Super Dash
    .superDashContainer {
        width: 100%;

        .navbar {
            width: 50%;
            position: fixed;
            top: -30px;
            height: 70px;
            z-index: 1;

            ul {
                margin-top: 0;
                padding: 0;
                margin-left: 60px;

                li {
                    position: relative;
                    display: inline-block;
                    padding: 10px 0px;
                    font-size: 14px;
                    top: 0;
                    margin-right: 5px;
                    font-family: $font;
                    color: aliceblue;
                    opacity: 1;
                }
            }
        }

        .navbar:hover{
            top: 0px;
        }

    }

    .searchContainer {
        width: 100%;
        height: 100vh;
        background: aliceblue;
        margin: auto;
        display: flex;
        overflow: hidden;

        .cityImgContainer {
            flex: 1;
            overflow: hidden;
            position: relative;

            input {
                position: absolute;
                opacity: .5;
                top: 38%;
                border: none;
                height: 50px;
                width: 300px;
                border-radius: 3px;
                padding-left: 10px;
                font-family: sans-serif;
                z-index: 2;
                margin-left: 50%;
                transform: translateX(-50%);
            }

            input:focus {
                box-shadow: 0 0 5px 1px #BBB;
                outline: none;
                opacity: .8;
            } 

            img {
                height: 100vh;
                text-align: center;
                margin-left: 50%;
                transform: translateX(-50%)
            } 

        }

        .colorPaletteContainer {
            flex: 1;
            display: flex;
            flex-direction: column;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            .color {
                flex: 1;
                text-align: center;
                color: white;
                font-family: $font;
            }

        }
    }

    // Dash View

    .pageContainer {
        margin: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .fontContainer {
            position: relative;
            flex: 4;
            display: flex;
            flex-direction: column;

            .font1 {
                padding-top: 15px;
                padding-left: 60px;
                flex: 1;
                margin-bottom: 10px;

                .fontName {
                    font-size: 11px;
                    margin: 0;
                    color: $primaryColor;
                    font-family: $font;
                }
            }

            .font2 {
                @extend .font1;
            }

            .font3 {
                @extend .font1;
            }

            button {
                border: none;
                width: 200px;
                display: inline-block;
                position: absolute;
                top: 50%;
                height: 45px;
                width: 90px;
                border-radius: 90px 90px 0 0;
                -moz-border-radius: 90px 90px 0 0;
                -webkit-border-radius: 90px 90px 0 0;
                background: $primaryColor;
                opacity: 0;
                z-index: 2;
            }

            button:hover {
                opacity: .3;
            }

            #leftButton {
                left: -25px;
                transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);

                i {
                    transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                    color: white;
                    font-size: 54px;
                }
            }

            #rightButton {
                right: -25px;
                transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);

                i {
                    transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                    color: white;
                    font-size: 54px;
                }
            }

        }

        .paletteContainer {
            flex: 2;
            display: flex;
            flex-direction: row;

            .color {
                flex: 1;
                text-align: center;
                color: white;
                font-family: $font;
            }
        }
     }

    // Preview

    .previewContainer {
        height: 100vh;
        text-align: center;
        position: relative;

        /*Basic Phone styling*/
        
        .phone {
          border: 40px solid #ddd;
          border-width: 55px 7px;
          border-radius: 40px;
          margin: 50px auto;
          overflow: hidden;
          transition: all 0.5s ease;
          width: 400px;
          height: 650px;
        }
        
        .phone iframe {
          border: 0;
          width: 100%;
          height: 100%;
        }
        
        /*Different Perspectives*/

        #wrapper {
            perspective: 1500px;

            .phone.view_1 {
              transform: rotateX(50deg) rotateY(0deg) rotateZ(-50deg);
              box-shadow: -3px 3px 0 #BBB, -6px 6px 0 #BBB, -9px 9px 0 #BBB, -12px 12px 0 #BBB, -14px 10px 20px #666;
            }
            
            .phone.view_2 {
              transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg);
              box-shadow: 5px 1px 0 #BBB, 9px 2px 0 #BBB, 12px 3px 0 #BBB, 15px 4px 0 #BBB, 0 7px 20px #999;
            }
            
            .phone.view_3 {
              transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
              box-shadow: 0px 3px 0 #BBB, 0px 4px 0 #BBB, 0px 5px 0 #BBB, 0px 7px 0 #BBB, 0px 10px 20px #666;
            }

        }

        .navBarContainer {
            border: 1px solid black;
            text-align: center;
            position: absolute;
            bottom: 0;
            width: 100%;

            div {
                display: inline-block;
                margin: 20px;
            }
        }

        /*Controls*/
        
        #controls {
          position: absolute;
          top: 20px;
          left: 20px;
          font-size: 0.9em;
          color: #333;
        }
        
        #controls div {
          margin: 10px;
        }
        
        #controls div label {
          width: 120px;
          display: block;
          float: left;
        }
        
        #views {
          position: absolute;
          top: 20px;
          right: 20px;
          width: 200px;
        }
        
        #views button {
          width: 198px;
          border: 1px solid #bbb;
          background-color: #fff;
          height: 40px;
          margin: 10px 0;
          color: #666;
          transition: all 0.2s;
        }
        
        #views button:hover {
          color: #444;
          background-color: #eee;
        }
        
        @media (max-width:900px) {
          #wrapper {
            transform: scale(0.8, 0.8);
          }
        }
        
        @media (max-width:700px) {
          #wrapper {
            transform: scale(0.6, 0.6);
          }
        }
        
        @media (max-width:500px) {
          #wrapper {
            transform: scale(0.4, 0.4);
          }
        }
        
    }
}
