@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/_typeplate.scss";

p+p {
    text-indent: 0;
    margin-top: 0;
}

p {
    max-width: 100ch;
    margin-left: 0;
    margin-right: auto;
}

ul, ol {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    text-align: justify;
    font-size: 0;
    position: relative;

    > * {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    &:after {
        display: table;
        width: 100%;
    }
}

@mixin grid_r($col, $width, $padding: 0) {
    @media screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{100/$col}%;
                padding: #{$padding}px;
            }
        }
    }
}

@mixin grid($col, $padding: 0) {
    .grid-#{$col} {
        & > * {
            width: #{100/$col}%;
            padding: #{$padding}px;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(8);
@include grid_r(2,400);
@include grid_r(2,800);
@include grid_r(4,400);
@include grid_r(4,800);
@include grid_r(8,800);
@include grid_r(8,1024);
@include grid_r(8,1280);

/**
 * GENERAL
 */

body {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

/**
 * App code
 */

$primaryColor: #7f8c8d;
$font: 'Trebuchet MS';



*:focus {
    outline: none;
}

.container {
    height: 100vh;

    // Search View

    .searchContainer {
        width: 100%;
        height: 100vh;
        background: aliceblue;
        margin: auto;
        display: flex;
        overflow: hidden;

        .cityImgContainer {
            flex: 1;
            overflow: hidden;
            position: relative;

            input {
                position: absolute;
                opacity: .5;
                top: 38%;
                border: none;
                height: 50px;
                width: 300px;
                border-radius: 3px;
                padding-left: 10px;
                font-family: sans-serif;
                z-index: 2;
                margin-left: 50%;
                transform: translateX(-50%)
            }

            input:focus {
                box-shadow: 0 0 5px 1px #969696;
                outline: none;
            } 

            img {
                height: 100vh;
                text-align: center;
                margin-left: 50%;
                transform: translateX(-50%)
            } 

        }

        .colorPaletteContainer {
            flex: 1;
            display: flex;
            flex-direction: column;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            .color {
                flex: 1;
                text-align: center;
                color: white;
                font-family: $font;
            }

        }
    }

    // Dash View

    .pageContainer {
        margin: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;

        .paletteContainer {
            flex: 2;
            border: 1px solid black;
            display: flex;
            flex-direction: row;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            .color {
                flex: 1;
                text-align: center;
                color: white;
                font-family: $font;
            }

        }

        .fontContainer {
            flex: 4;
            border: 1px solid black;
            display: flex;
            flex-direction: column;

            .font1 {
                padding-top: 15px;
                padding-left: 20px;
                flex: 1;
                margin-bottom: 10px;

                .fontName {
                    font-size: 11px;
                    margin: 0;
                    color: $primaryColor;
                }
            }

            .font2 {
                @extend .font1;
            }

            .font3 {
                @extend .font1;
            }
        }

        .navBarContainer {
            flex: 1;
            border: 1px solid black;
        }
     }

    // Preview

    .previewContainer {
        margin: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;

        img {
            margin: auto;
            width: 25%;
        }
    }
}
